/* typography css */


// ----------------------------
// Font Family
// ---------------------------

/* dm sans  */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* bdo grotesk  */
@font-face {
  font-family: "BDOGrotesk";
  src: url('../fonts/BDOGrotesk-DemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: "BDOGrotesk";
  src: url('../fonts/BDOGrotesk-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "BDOGrotesk";
  src: url('../fonts/BDOGrotesk-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "PPEditorialNew-Italic";
  src: url('../fonts/PPEditorialNew-Ultralight.otf');
  font-weight: 200;
}

@font-face {
  font-family: "PPEditorialNew-Regular";
  src: url('../fonts/PPEditorialNew-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: "PPEditorialNew-Italic";
  src: url('../fonts/PPEditorialNew-Italic.otf');
  font-weight: 400;
}

@font-face {
  font-family: "Tartuffo_Trial-Regular";
  src: url('../fonts/Tartuffo_Trial-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: "Tartuffo_Trial-Regular";
  src: url('../fonts/Tartuffo_Trial-Thin.otf');
  font-weight: 300;
}

@font-face {
  font-family: "Tartuffo_Trial-Regular";
  src: url('../fonts/Tartuffo_Trial-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: "Astro-Nebula";
  src: url('../fonts/Astro-Nebula-Light.otf');
  font-weight: 300;
}


:root {
  --font_dmsans: "DM Sans", sans-serif;
  --font_bdogrotesk: "BDOGrotesk";
  --font_ppeditor: "PPEditorialNew-Italic";
  --font_ppeditorialnewregular: "PPEditorialNew-Regular";
  --font_tartuffotrial: "Tartuffo_Trial-Regular";
  --font_astronebula: "Astro-Nebula";
  --font_awesome: 'Font Awesome 6 Free';
}



// Defalut Style
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font_dmsans);
  line-height: 1;
}



html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  color: var(--primary);
  line-height: 1.22;
  font-family: var(--font_bdogrotesk);
  font-weight: 500;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.ls-none {
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: inherit;

  &:hover {
    color: var(--primary);
  }

}

button {
  background-color: transparent;
  border: 0;
}

p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: var(--secondary);

  @media #{$xl} {
    font-size: 20px;
    line-height: 28px;
  }

}

strong {
  font-weight: 500;
}

video,
iframe,
img {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.medium {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}


// No Gutter
@media #{$sm} {
  .g-0 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .row.g-0 {
    padding-right: 0;
    padding-left: 0;
  }

  br {
    display: none;
  }
}

main {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}