/* image reveal hover page css */
.our-expertise-7 {
    .our-expertise-inner {
        border-top: 1px solid #D5D0CE;
        position: relative;

        @include dark {
            border-color: #292929;
        }
    }

    .section-title {
        margin-bottom: 120px;

        @media #{$xl} {
            margin-bottom: 100px;
        }

        @media #{$lg} {
            margin-bottom: 80px;
        }

        @media #{$md} {
            margin-bottom: 50px;
        }

        @media #{$sm} {
            margin-bottom: 30px;
        }

        .title {
            font-size: 180px;
            font-weight: 200;
            line-height: 170px;
            text-transform: uppercase;
            font-family: var(--font_ppeditor);

            @media #{$xl} {
                font-size: 150px;
                line-height: 150px;
            }

            @media #{$lg} {
                font-size: 100px;
                line-height: 100px;
            }

            @media #{$md} {
                font-size: 80px;
                line-height: 80px;
            }

            @media #{$sm} {
                font-size: 60px;
                line-height: 60px;
            }

            @media #{$xs} {
                font-size: 40px;
                line-height: 40px;
            }
        }
    }

    .our-expertise-item {
        gap: 30px;
        display: grid;
        cursor: pointer;
        padding-top: 40px;
        position: relative;
        padding-bottom: 50px;
        border-bottom: 1px solid #D5D0CE;
        grid-template-columns: 234px 930px 1fr;

        @include dark {
            border-color: #292929;
        }

        @media #{$xxl} {
            grid-template-columns: 234px 630px 1fr;
        }

        @media #{$xl} {
            grid-template-columns: 234px 430px 1fr;
        }

        @media #{$lg} {
            grid-template-columns: 200px 300px 1fr;
        }

        @media #{$md} {
            grid-template-columns: 80px 290px 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr;
            padding-bottom: 20px;
            gap: 20px;
        }

        &:hover {
            span {
                margin-left: 30px;
            }
        }

        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            display: inline-block;
            color: var(--primary);
            letter-spacing: -0.7px;
            text-transform: uppercase;
            font-family: var(--font_bdogrotesk);
            z-index: 1;
            position: relative;
            transition: all 0.3s;
        }

        .title {
            z-index: 1;
            font-size: 60px;
            font-weight: 200;
            line-height: 60px;
            position: relative;
            color: var(--primary);
            text-transform: uppercase;
            font-family: var(--font_ppeditor);

            @media #{$xl} {
                font-size: 50px;
                line-height: 50px;
            }

            @media #{$lg} {
                font-size: 40px;
                line-height: 45px;
            }

            @media #{$sm} {
                font-size: 35px;
                line-height: 35px;
            }

            @media #{$xs} {
                font-size: 29px;
                line-height: 30px;
            }
        }

        p {
            font-size: 20px;
            font-weight: 400;
            max-width: 370px;
            line-height: 28px;
            color: var(--primary);
            z-index: 1;
            position: relative;

            @media #{$md} {
                max-width: 100%;
            }


        }
    }

    .hover-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 99;
        width: 350px;
        height: 370px;
        overflow: hidden;
        pointer-events: none;
        will-change: transform;
        transform: translate(0%, 0%) scale(0);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            pointer-events: none;
        }
    }

    .active-bg {
        left: 0;
        right: 0;
        z-index: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        pointer-events: none;
        background: #F2EAE5;
        transform: translateY(0);
        transform-origin: top center;
        transition: transform 0.4s ease, height 0.4s ease, opacity 0.4s ease;

        @include dark {
            background-color: #1A1A1A;
        }
    }
}